name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          
          # Configuração Visual
          user: RoberthFurtadoDev
          template: classic
          filename: github-metrics.svg
          
          # IMPORTANTE: Isso desativa toda a poluição visual (Activity, Community, etc.)
          base: ""
          
          # Ativa APENAS o gráfico de Radar (A Cruz)
          plugin_followup: yes
          plugin_followup_sections: repositories