name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          
          # Configuração Visual
          user: RoberthFurtadoDev
          template: classic
          filename: github-metrics.svg
          config_timezone: America/Sao_Paulo
          
          # Desliga tudo para não ter texto
          base: ""
          
          # LIGA O GRÁFICO DE CRUZ (Introduction)
          plugin_introduction: yes
          plugin_introduction_title: no # Sem título