name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          
          # Configurações Gerais
          user: RoberthFurtadoDev
          template: classic
          config_timezone: America/Sao_Paulo
          filename: github-metrics.svg
          
          # 1. Base (Substitui o cartão de Stats quebrado)
          base: header, activity, community, repositories, metadata
          
          # 2. Linguagens (Substitui o gráfico de linguagens quebrado)
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8
          
          # 3. Gráfico Isométrico Premium (Ajustado para não dar erro)
          plugin_isocalendar: yes
          plugin_isocalendar_duration: half-year 
          # "half-year" corrige o erro "Unexpected Error" que você teve antes