name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          
          user: RoberthFurtadoDev
          template: classic
          filename: github-metrics.svg
          config_timezone: America/Sao_Paulo
          
          # IMPORTANTE: Remove toda a poluição de texto (Activity, Community stats, etc.)
          base: ""
          
          # ATIVA O GRÁFICO DE CRUZ (Commits, PRs, Issues, Reviews)
          plugin_introduction: yes
          # Remove o título para ficar só o desenho do gráfico
          plugin_introduction_title: no